

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Corey Vatter</title>
       
</head>
<body>

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<%= render "layouts/intro" %>

	<%= render "layouts/navbar" %>

    <%= render "layouts/bio" %>

    <%= render "layouts/experience" %>
    
	<%= render "layouts/portfolio" %>
    
    <%= render "layouts/skills" %>

	<%= render "layouts/hireme" %>

	<%= render "layouts/international" %>

	<%= render "layouts/contact" %>

	<%= render "layouts/footer" %>

	<!-- Footer end -->

	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>
    
    <!-- Scroll to top end-->

</body>
</html>